[build]
  base = "."
  publish = "dist"
  command = "npm run build:landing && npm run build:app && mkdir -p dist/app && cp -r frontend/landing/dist/* dist/ && cp -r frontend/app/dist/* dist/app/"

[[redirects]]
  from = "/app/*"
  to = "/app/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
